---
import { Footer } from '@/partials/Footer';
import { Navigation } from '@/partials/Navigation';
import BaseHead from '@/templates/BaseHead.astro';

export interface Props {
    title: string;
    description: string;
    hideNav?: boolean;
    hideFooter?: boolean;
    image?: string;
}

const {
    title,
    description,
    hideNav,
    hideFooter,
    image = '/blog-placeholder-1.jpg',
} = Astro.props;
---

<html lang="th">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="bg-thinc-blue text-gray-100">
        {!hideNav && <Navigation client:load />}
        <main class="min-h-screen">
            <slot />
        </main>

        {!hideFooter && <Footer />}
    </body>
</html>
