body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.7;
}
h1,
h2,
h3 {
    font-weight: 700;
    margin: 3rem 0 1rem 0;
    line-height: 1.2;
    color: #1e293b;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}

strong,
b {
    font-weight: 700;
}
a {
    color: #0f172a;
    font-weight: 500;
    text-decoration: underline;
}
a:hover {
    color: #334155;
}
p {
    margin-bottom: 1em;
    color: #334155;
}
code {
    padding: 2px 5px;
    background-color: #303030;
    border-radius: 2px;
}
pre {
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
blockquote {
    border-left: 4px solid #fec92b;
    padding: 0 0 0 20px;
    margin: 0px;
}
hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}
ul {
    margin: -0.2em 0 3em 0;
}
ul li::before {
    content: '\2022';
    opacity: 0.3;
    font-size: 1.3em;
    padding-right: 0.5em;
}
