@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'IBM Plex Sans Thai';
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
    unicode-range: U+0E00, U+0E7F;
}

body {
    font-family: 'Poppins', 'IBM Plex Sans Thai', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.7;
}
.content h1,
.content h2,
.content h3 {
    font-weight: 700;
    margin: 3rem 0 1rem 0;
    line-height: 1.2;
    color: #1e293b;
}
.content h1 {
    font-size: 2em;
}
.content h2 {
    font-size: 1.8em;
}
.content h3 {
    font-size: 1.4em;
}

.content strong,
.content b {
    font-weight: 700;
}
.content a {
    color: #0f172a;
    font-weight: 500;
    text-decoration: underline;
}
.content a:hover {
    color: #334155;
}
.content p {
    margin-bottom: 1em;
    color: #334155;
}
.content code {
    padding: 2px 5px;
    background-color: #303030;
    border-radius: 2px;
}
.content pre {
    padding: 1.5em;
    border-radius: 8px;
}
.content pre > code {
    all: unset;
}
.content blockquote {
    border-left: 4px solid #fec92b;
    padding: 0 0 0 20px;
    margin: 0px;
}
.content hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}
.content ul {
    margin: -0.2em 0 3em 0;
}
.content ul li::before {
    content: '\2022';
    opacity: 0.3;
    font-size: 1.3em;
    padding-right: 0.5em;
}
